.blackButton {
    background-color: rgb(0, 0, 0);
    color:#D7E1E7;
    border: none;
    border-radius: 6px;
    padding: 12px;
    transition: .3s;
    margin-top: 4vh;
}

.blackButton:hover {
    cursor: pointer;
    margin-left: .5rem;
  }